In [116]:
import pandas as pd
import uuid

In [123]:
# read datasets for US, Canada, Japan, India, and Brazil
df_br = pd.read_csv('datasets\BR_youtube_trending_data.csv')
df_ca = pd.read_csv('datasets\CA_youtube_trending_data.csv')
df_in = pd.read_csv('datasets\IN_youtube_trending_data.csv')
df_jp = pd.read_csv('datasets\JP_youtube_trending_data.csv')
df_us = pd.read_csv('datasets\\US_youtube_trending_data.csv')

In [124]:
# add country code and information
df_br['countryName'] = 'Brazil'
df_br['countryCode'] = 1

df_ca['countryName'] = 'Canada'
df_ca['countryCode'] = 2

df_in['countryName'] = 'India'
df_in['countryCode'] = 3

df_jp['countryName'] = 'Japan'
df_jp['countryCode'] = 4

df_us['countryName'] = 'US'
df_us['countryCode'] = 5

In [125]:
df_br = df_br.tail(2000)
df_ca = df_ca.tail(2000)
df_in = df_in.tail(2000)
df_jp = df_jp.tail(2000)
df_us = df_us.tail(2000)

In [126]:
df_merged = pd.concat([df_br, df_ca, df_in, df_jp, df_us],ignore_index=True)

In [127]:
df_merged.head(5)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,countryName,countryCode
0,6P1o9rYYZes,DE FRENTE COM BLOGUEIRINHA: ANITTA - T2E24 | D...,2023-10-12T00:41:49Z,UCF8MQYobXcHejWAaet4nSxA,Blogueirinha,24,2023-10-13T00:00:00Z,blogueirinha|de frente com blogueirinha|bruno ...,2184398,163090,0,4216,https://i.ytimg.com/vi/6P1o9rYYZes/default.jpg,False,False,Depois de cancelar a participação na primeira ...,Brazil,1
1,OuORl1moOvs,Roberto Cabrini chega ao sul de Israel e flagr...,2023-10-12T01:48:24Z,UCmpHPgeCBgvk_fDXZQKsnAA,Jornal da Record,25,2023-10-13T00:00:00Z,Celso Freitas|Jornal da Record|Rede Record|Chr...,1828865,53984,0,0,https://i.ytimg.com/vi/OuORl1moOvs/default.jpg,True,False,"Roberto Cabrini chegou ao sul de Israel, próxi...",Brazil,1
2,sX5R9yC27Bk,MC Paiva - Fala na Cara (Love Funk) DJ AK Beats,2023-10-11T15:07:01Z,UC9OMsuaqvGdF0MtK3gYYNkA,Love Funk,10,2023-10-13T00:00:00Z,funk|love funk|mc|funk 2022|love funk 2022|lov...,647670,48743,0,34684,https://i.ytimg.com/vi/sX5R9yC27Bk/default.jpg,False,False,Ouça #FalaNaCara em todas as plataformas: http...,Brazil,1
3,sPP1GfFeOs8,Tite comanda segundo treino no Fla: Consegue d...,2023-10-12T00:32:48Z,UCOa-WaNwQaoyFHLCDk7qKIw,FLA TV,17,2023-10-13T00:00:00Z,Clube de Regatas do Flamengo|Flamengo|Mengão|M...,279247,25753,0,491,https://i.ytimg.com/vi/sPP1GfFeOs8/default.jpg,False,False,"O Mengão treinou hoje (11/10), no Ninho, dando...",Brazil,1
4,CKjANZ1eg3g,FELIPE NETO - Podpah #699,2023-10-11T00:12:34Z,UCj9R9rOhl81fhnKxBpwJ-yw,Podpah,24,2023-10-13T00:00:00Z,igao|vida mitica|podpah|podpah podcast|mitico|...,1738214,180035,0,2049,https://i.ytimg.com/vi/CKjANZ1eg3g/default.jpg,False,False,BIS#BISnaCCXP23De qual lado você está? #ClãNet...,Brazil,1

In [128]:
# channel table
df_channel = df_merged[['channelId', 'channelTitle']]
df_channel = df_channel.drop_duplicates(subset=['channelId'])
df_channel

                     channelId      channelTitle
0     UCF8MQYobXcHejWAaet4nSxA      Blogueirinha
1     UCmpHPgeCBgvk_fDXZQKsnAA  Jornal da Record
2     UC9OMsuaqvGdF0MtK3gYYNkA         Love Funk
3     UCOa-WaNwQaoyFHLCDk7qKIw            FLA TV
4     UCj9R9rOhl81fhnKxBpwJ-yw            Podpah
...                        ...               ...
9809  UCTvgnaLSfM5nqrabqrRJXMg        LVE FAMILY
9814  UCbochVIwBCzJb9I2lLGXGjQ      Rhett & Link
9822  UCwNqHDsnBCKT-olwJwIFyfg        FOX Sports
9832  UCpi8TJfiA4lKGkaXs__YdBA      The Try Guys
9876  UCcYrdFJF7hmPXRNaWdrko4w       Chris Brown

[1464 rows x 2 columns]

In [208]:
# category table
df_category = df_merged[['video_id', 'categoryId', 'tags']]
# category_key = [str(uuid.uuid4()) for i in range(df_category.shape[0])]
# df_category['category_key'] = category_key
# df_category = df_category[['category_key', 'video_id', 'categoryId', 'tags']]
df_category = df_category.drop_duplicates(subset=['video_id'])
df_category

,video_id,categoryId,tags
0,6P1o9rYYZes,24,blogueirinha|de frente com blogueirinha|bruno ...
1,OuORl1moOvs,25,Celso Freitas|Jornal da Record|Rede Record|Chr...
2,sX5R9yC27Bk,10,funk|love funk|mc|funk 2022|love funk 2022|lov...
3,sPP1GfFeOs8,17,Clube de Regatas do Flamengo|Flamengo|Mengão|M...
4,CKjANZ1eg3g,24,igao|vida mitica|podpah|podpah podcast|mitico|...
...,...,...,...
9820,F-qpRkwjq7A,24,weather|weather forecasting|forecasting|foreca...
9822,M-WsGhmV1eU,17,MLB|ALCS|Astros|Rangers|Postgame|Reaction|Fox ...
9832,WutaKDGEV8Q,23,try guys|keith|ned|zach|eugene|habersberger|fu...
9867,oCwredAacSA,10,Fuerza Regida|Juanpa Salazar|Calle 24|Pa las B...
9876,E0oCQKpF3mc,10,Summer Too Hot|Under The Influence|BREEZY|No G...

In [130]:
# video table
df_video = df_merged[['video_id', 'channelId', 'trending_date', 'title', 'thumbnail_link', 'description']]
df_video = df_video.drop_duplicates(subset=['video_id'])
df_video

,video_id,channelId,trending_date,title,thumbnail_link,description
0,6P1o9rYYZes,UCF8MQYobXcHejWAaet4nSxA,2023-10-13T00:00:00Z,DE FRENTE COM BLOGUEIRINHA: ANITTA - T2E24 | D...,https://i.ytimg.com/vi/6P1o9rYYZes/default.jpg,Depois de cancelar a participação na primeira ...
1,OuORl1moOvs,UCmpHPgeCBgvk_fDXZQKsnAA,2023-10-13T00:00:00Z,Roberto Cabrini chega ao sul de Israel e flagr...,https://i.ytimg.com/vi/OuORl1moOvs/default.jpg,"Roberto Cabrini chegou ao sul de Israel, próxi..."
2,sX5R9yC27Bk,UC9OMsuaqvGdF0MtK3gYYNkA,2023-10-13T00:00:00Z,MC Paiva - Fala na Cara (Love Funk) DJ AK Beats,https://i.ytimg.com/vi/sX5R9yC27Bk/default.jpg,Ouça #FalaNaCara em todas as plataformas: http...
3,sPP1GfFeOs8,UCOa-WaNwQaoyFHLCDk7qKIw,2023-10-13T00:00:00Z,Tite comanda segundo treino no Fla: Consegue d...,https://i.ytimg.com/vi/sPP1GfFeOs8/default.jpg,"O Mengão treinou hoje (11/10), no Ninho, dando..."
4,CKjANZ1eg3g,UCj9R9rOhl81fhnKxBpwJ-yw,2023-10-13T00:00:00Z,FELIPE NETO - Podpah #699,https://i.ytimg.com/vi/CKjANZ1eg3g/default.jpg,BIS#BISnaCCXP23De qual lado você está? #ClãNet...
...,...,...,...,...,...,...
9820,F-qpRkwjq7A,UCJHAT3Uvv-g3I8H3GhHWV7w,2023-10-22T00:00:00Z,A Very Strange Weather Pattern Is Developing…,https://i.ytimg.com/vi/F-qpRkwjq7A/default.jpg,Download Radar Omega! Android: http://bit.ly/3...
9822,M-WsGhmV1eU,UCwNqHDsnBCKT-olwJwIFyfg,2023-10-22T00:00:00Z,ALCS Game 5 Reaction: Astros defeat Rangers — ...,https://i.ytimg.com/vi/M-WsGhmV1eU/default.jpg,"Derek Jeter, David Ortiz & Alex Rodriguez reac..."
9832,WutaKDGEV8Q,UCpi8TJfiA4lKGkaXs__YdBA,2023-10-22T00:00:00Z,Keith Eats Everything At Cheesecake Factory - ...,https://i.ytimg.com/vi/WutaKDGEV8Q/default.jpg,"The Eat The Menu you’ve been asking for, waiti..."
9867,oCwredAacSA,UC0kxNxFQCK6d2spPz5Sme7Q,2023-10-22T00:00:00Z,CJNG,https://i.ytimg.com/vi/oCwredAacSA/default.jpg,Provided to YouTube by Rancho Humilde/Street M...
9876,E0oCQKpF3mc,UCcYrdFJF7hmPXRNaWdrko4w,2023-10-22T00:00:00Z,Chris Brown - Sensational feat. Davido & Lojay...,https://i.ytimg.com/vi/E0oCQKpF3mc/default.jpg,Chris Brown - Sensational Out Now!Listen Now: ...

In [169]:
# table for stats at published date

df_video_stats = df_merged[['publishedAt', 'video_id', 'view_count', 'likes', 'dislikes', 'comment_count', 'comments_disabled', 'ratings_disabled']]
df_video_stats['publishedAt'] = df_video_stats['publishedAt'].str[:13]
df_video_stats['times_trending'] = df_video_stats.groupby('video_id')['video_id'].transform('count')
df_video_stats = df_video_stats.drop_duplicates(subset=['publishedAt', 'video_id'])
df_video_stats['comments_disabled'] = df_video_stats['comments_disabled'].astype(int)
df_video_stats['ratings_disabled'] = df_video_stats['ratings_disabled'].astype(int)
df_video_stats

C:\Users\gxi87\AppData\Local\Temp/ipykernel_13600/613982187.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_video_stats['publishedAt'] = df_video_stats['publishedAt'].str[:13]
C:\Users\gxi87\AppData\Local\Temp/ipykernel_13600/613982187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_video_stats['times_trending'] = df_video_stats.groupby('video_id')['video_id'].transform('count')

,publishedAt,video_id,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,times_trending
0,2023-10-12T00,6P1o9rYYZes,2184398,163090,0,4216,0,0,10
1,2023-10-12T01,OuORl1moOvs,1828865,53984,0,0,1,0,9
2,2023-10-11T15,sX5R9yC27Bk,647670,48743,0,34684,0,0,7
3,2023-10-12T00,sPP1GfFeOs8,279247,25753,0,491,0,0,6
4,2023-10-11T00,CKjANZ1eg3g,1738214,180035,0,2049,0,0,6
...,...,...,...,...,...,...,...,...,...
9820,2023-10-20T20,F-qpRkwjq7A,1084126,38412,0,947,0,0,1
9822,2023-10-21T01,M-WsGhmV1eU,129826,1111,0,440,0,0,1
9832,2023-10-21T15,WutaKDGEV8Q,622664,22246,0,1647,0,0,1
9867,2023-10-20T04,oCwredAacSA,436073,14006,0,425,0,0,1
9876,2023-10-20T04,E0oCQKpF3mc,335031,30326,0,2875,0,0,1

In [134]:
df_country = df_merged[['countryName', 'countryCode']].drop_duplicates()
df_country

     countryName  countryCode
0         Brazil            1
2000      Canada            2
4000       India            3
6000       Japan            4
8000          US            5

In [135]:
import numpy as np
c = df_category.to_numpy()
for i in c:
    print(tuple(i))
    break

('4cb72cdb-3f50-41c9-81e0-d1f28f4d43e7', '6P1o9rYYZes', 24, 'blogueirinha|de frente com blogueirinha|bruno blogueirinha|blogueirinha podcast|anitta|anitta vma 2023|anitta e blogueirinha|anitta global citizen|anitta karoke|anitta antigas|anitta champions league|anitta envolver|anitta vma|anitta funk rave lyrics|anitta podpah|anitta mil veces|anitta e jao|anitta champions league 2023|anitta used to be|anitta casi casi|anitta back for more|blogueirinha anitta|blogueirinha wanessa wolf|blogueirinha mari maria|fofoca')

In [214]:
# drop tables
drop = '''
DROP TABLE IF EXISTS `user`; 
DROP TABLE IF EXISTS `manages`;
DROP TABLE IF EXISTS `country`;
DROP TABLE IF EXISTS `video_stats`;
DROP TABLE IF EXISTS `category`;
DROP TABLE IF EXISTS `video`;
DROP TABLE IF EXISTS `channel`;
'''

In [215]:
# table for country
country = '''
/* Table structure for table country */
CREATE TABLE `country` (
    `country_code` INT(11) PRIMARY KEY NOT NULL,
    `country` VARCHAR(20) NOT NULL
);

'''

country_inserts = '''
/* Data for `country` */
INSERT INTO `country`(`country_code`, `country`)
VALUES
(0, 'Brazil'),
(1, 'Canada'),
(2, 'India'),
(3, 'Japan'),
(4, 'United States');
'''

In [216]:
# create table for users
user = '''
/* Table structure for table 'user' */
CREATE TABLE `user` (
    `user_id` INT(11) PRIMARY KEY NOT NULL,
    `country_code` INT(11) NOT NULL,
    `username` VARCHAR(50) NOT NULL,
    `password` VARCHAR(50) NOT NULL,
    `email_id` VARCHAR(50) NOT NULL,
    FOREIGN KEY(`country_code`) REFERENCES `country`(`country_code`)
);
'''

In [217]:
# create table for channel
channel = '''
/* Table structure for 'channel' */
CREATE TABLE `channel` (
    `channel_id` VARCHAR(50) PRIMARY KEY NOT NULL,
    `channel_title` VARCHAR(255) NOT NULL
);
'''
channel_inserts = '''
/*Data for 'channel'*/
INSERT INTO `channel`(`channel_id`, `channel_title`)
VALUES
'''
count = 0
for i, row in df_channel.iterrows():
    channel_title = row["channelTitle"].replace("'", "''")
    if count == df_channel.shape[0] - 1:
        channel_inserts+=(f'(\'{row["channelId"]}\', \'{channel_title}\');')
        break
    channel_inserts+=(f'(\'{row["channelId"]}\', \'{channel_title}\'),\n')
    count+=1

In [218]:
# create table for video
video = ''' 

/* Table structure for 'video' */
CREATE TABLE `video` (
    `video_id` VARCHAR(50) PRIMARY KEY NOT NULL,
    `channel_id` VARCHAR(50) NOT NULL,
    `trending_date` VARCHAR(50) NOT NULL,
    `title` TEXT NOT NULL,
    `thumbnail_link` VARCHAR(255) NOT NULL,
    `description` TEXT,
    FOREIGN KEY(`channel_id`) REFERENCES `channel`(`channel_id`)
);
'''

video_inserts = '''
/*Data for 'video'*/
INSERT INTO `video`(`video_id`,`channel_id`,`trending_date`,`title`,`thumbnail_link`,`description`)
VALUES
'''
count = 0
df_video['description'] = df_video['description'].astype(str)
for i, row in df_video.iterrows():
    video_id = row['video_id']
    channelId = row['channelId']
    trending_date = row['trending_date']
    title = row["title"].replace("'", "''")
    thumbnail = row['thumbnail_link']
    description = row['description'].replace("'", "''")

    if count == df_video.shape[0] - 1:
        video_inserts+=(f'(\'{video_id}\', \'{channelId}\', \'{trending_date}\', \'{title}\', \'{thumbnail}\', \'{description}\');')
        continue
    count+=1
    video_inserts+=(f'(\'{video_id}\', \'{channelId}\', \'{trending_date}\', \'{title}\', \'{thumbnail}\', \'{description}\'), \n')

In [219]:
# create table for video stats
video_stats = ''' 

/* Table structure for 'video_stats' */
CREATE TABLE `video_stats` (
    `publishedAt` VARCHAR(50) NOT NULL,
    `video_id` VARCHAR(50) NOT NULL,
    `view_count` INT(11), 
    `likes` INT(11),
    `dislikes` INT(11),
    `comment_count` INT(11),
    `comments_disabled` INT(11),
    `ratings_disabled` INT(11),
    `times_trending` INT(11) NOT NULL,
    PRIMARY KEY (`publishedAt`, `video_id`),
    FOREIGN KEY (`video_id`) REFERENCES `video` (`video_id`)
);
'''

video_stats_inserts = '''
/*Data for 'video_stats'*/
INSERT INTO `video_stats`(`publishedAt`, `video_id`, `view_count`, `likes`, `dislikes`, `comment_count`, `comments_disabled`, `ratings_disabled`, `times_trending`)
VALUES
'''
count = 0
for i, row in df_video_stats.iterrows():
    publishedAt = row['publishedAt']
    video_id = row['video_id']
    view_count = row['view_count']
    likes = row["likes"]
    dislikes = row['dislikes']
    comment_count = row['comment_count']
    comments_disabled = row['comments_disabled']
    ratings_disabled = row['ratings_disabled']
    times_trending = row['times_trending']

    if count == df_video.shape[0] - 1:
        video_stats_inserts+=(f'(\'{publishedAt}\', \'{video_id}\', \'{view_count}\', \'{likes}\', \'{dislikes}\', \'{comment_count}\', \'{comments_disabled}\', \'{ratings_disabled}\', \'{times_trending}\');')
        continue
    count+=1
    video_stats_inserts+=(f'(\'{publishedAt}\', \'{video_id}\', \'{view_count}\', \'{likes}\', \'{dislikes}\', \'{comment_count}\', \'{comments_disabled}\', \'{ratings_disabled}\', \'{times_trending}\'), \n')

In [220]:
# create table for category
category = ''' 

/* Table structure for 'category' */
CREATE TABLE `category` (
    `categoryId` INT(11) NOT NULL,
    `video_id` VARCHAR(50) NOT NULL,
    `tags` TEXT,
    PRIMARY KEY (`categoryId`, `video_id`),
    FOREIGN KEY (`video_id`) REFERENCES `video` (`video_id`)
);
'''

category_inserts = '''
/*Data for 'category'*/
INSERT INTO `category`(`categoryId`, `video_id`, `tags`)
VALUES
'''
count = 0
for i, row in df_category.iterrows():
    categoryId = row['categoryId']
    video_id = row['video_id']
    tags = row['tags'].replace("'", "''")

    if count == df_category.shape[0] - 1:
        category_inserts+=(f'(\'{categoryId}\', \'{video_id}\', \'{tags}\');')
        continue
    count+=1
    category_inserts+=(f'(\'{categoryId}\', \'{video_id}\', \'{tags}\'), \n')

In [226]:
# table for relationship manages
manages  = ''' 
/* Table for the relationship manages between user and channel */
CREATE TABLE `manages` (
    `user_id` INT(11) NOT NULL,
    `channel_id` VARCHAR(50) NOT NULL,
    PRIMARY KEY (`user_id`, `channel_id`),
    FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
    FOREIGN KEY (`channel_id`) REFERENCES `channel` (`channel_id`)
);
'''

In [227]:
file_name = 'nddp.sql'

with open(file_name, 'w') as file:
    file.write('USE `youtube_trending_data`;')
    file.write(drop)
    file.write(country)
    file.write(country_inserts)
    file.write(user)
    file.write(channel)
    file.write(manages)
    file.write(channel_inserts)
    file.write(video)
    file.write(video_inserts)
    file.write(video_stats)
    file.write(video_stats_inserts)
    file.write(category)
    file.write(category_inserts)